.header {
  background: #74AFAD;
  width: 100%;
  padding: 15px 0;
  color: white;
  text-align: center; }

nav ul {
  background: #F6F6F6;
  overflow: hidden;
  color: #74AFAD;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s; }
  nav ul a {
    text-decoration: none;
    color: inherit; }
  nav ul li {
    display: inline-block;
    font-weight: bold;
    padding: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-top: #F6F6F6 3px solid; }
    nav ul li:hover {
      color: #D98538;
      border-top: #D98538 3px solid !important; }

#active {
  color: #558C89;
  border-bottom: #F6F6F6 3px solid; }

.menu {
  width: 100%;
  background: #558C89;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  display: none; }

@media screen and (max-width: 580px) {
  .header {
    display: none; }
  nav ul {
    max-height: 0px; }
    nav ul li {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: center;
      background: #74AFAD;
      color: #F6F6F6;
      border-top: none; }
      nav ul li:hover {
        border-top: none !important;
        color: #F6F6F6;
        background-color: #558C89; }
  #active {
    border-bottom: none !important;
    color: #F6F6F6;
    background-color: #558C89; }
  .showing {
    max-height: 20em; }
  .menu {
    display: block; }
    .menu .title {
      float: left;
      margin-top: -7px; }
    .menu img {
      margin-top: 0px;
      width: 25px; } }

.footer {
  width: 100vw;
  color: #F6F6F6;
  background-color: #558C89;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 0px 2px 16px; }

.news {
  margin: 30px auto !important;
  text-align: justify;
  max-width: 1000px; }
  .news .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 10px;
    min-width: 250px;
    background-color: #F6F6F6;
    color: #558C89; }
    .news .col img {
      width: 100%; }
    .news .col .text {
      text-align: right; }
    .news .col a {
      color: #74AFAD; }
      .news .col a:hover {
        color: #558C89;
        text-decoration: none; }
    .news .col button {
      color: white;
      background-color: #D98538;
      border: none;
      padding: 10px 20px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .news .col button:hover {
        background: #D67A29; }

.slider {
  margin: 50px auto; }

@media screen and (max-width: 580px) {
  .slider {
    margin-top: 0 !important; } }

.projects, .team {
  text-align: center;
  margin: 30px 0 50px 0; }
  .projects .col, .team .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: #F6F6F6; }
    .projects .col img, .team .col img {
      width: 100%; }
    .projects .col a, .team .col a {
      color: #74AFAD; }
      .projects .col a:hover, .team .col a:hover {
        color: #558C89;
        text-decoration: none; }

.projects .col {
  min-width: 460px;
  border: 2px #558C89 solid; }

.team .col {
  min-width: 250px;
  color: #558C89; }
  .team .col img {
    border-radius: 50%;
    max-width: 250px; }
  .team .col i {
    margin: 0 10px; }

@media screen and (max-width: 440px) {
  .col {
    min-width: 200px !important; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: #F6F6F6 !important; }

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #D98538;
  color: #F6F6F6;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #topBtn:hover {
    background-color: #D67A29; }

.container {
  text-align: center;
  color: #D98538; }
