.header {
	background: $lGreen;
	width: 100%;
	padding: 15px 0;
	color: white;
	text-align: center;
}

nav ul {
	background: $white;
	overflow: hidden;
	color: $lGreen;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: max-height 0.5s;
	a {
		text-decoration: none;
		color: inherit;
	}
	li {
		display: inline-block;
		font-weight: bold;
		padding: 20px;
		transition: 0.3s;
		border-top: $white 3px solid;
		&:hover {
			color: $lOrange;
			border-top: $lOrange 3px solid !important;
		}
	}
}

#active {
	color: $dGreen;
	border-bottom: $white 3px solid;
}

.menu {
	width: 100%;
	background: $dGreen;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 20px;
	cursor: pointer;
	color: white;
	display: none;
}

@media screen and (max-width: 580px) {
	.header {
		display: none; //Ideja je da se logo pojavi pored izbornika
	}
	nav ul {
		max-height: 0px;
		li {
			box-sizing: border-box;
			width: 100%;
			padding: 15px;
			text-align: center;
			background: $lGreen;
			color: $white;
			border-top: none;
			&:hover {
				border-top: none !important;
				color: $white;
				background-color: $dGreen;
			}
		}
	}

	#active {
		border-bottom: none !important;
		color: $white;
		background-color: $dGreen;
	}

	.showing {
		max-height: 20em; //Maksimalna visina navigacijske liste, vise je bolje
	}

	.menu {
		display: block;
		.title {
			float: left;
			margin-top: -7px;
		}
		img {
			margin-top: 0px;
			width: 25px;
		}
	}
}
