.news {
	margin: 30px auto !important;
	text-align: justify;
	max-width: 1000px;
	.col {
		box-sizing: border-box;
		padding: 0px;
		margin: 10px;
		min-width: 250px;
		background-color: $white;
		color: $dGreen;
		img {
			width: 100%;
		}
		.text {
			text-align: right;
		}
		a {
			color: $lGreen;
			&:hover {
				color: $dGreen;
				text-decoration: none;
			}
		}
		button {
			color: white;
			background-color: $lOrange;
			border: none;
			padding: 10px 20px;
			transition: 0.3s;
			&:hover {
				background: $dOrange;
			}
		}
	}
}

.slider {
	margin: 50px auto;
}

@media screen and (max-width: 580px) {
	.slider {
		margin-top: 0 !important;
	}
}
