.projects, .team {
	text-align: center;
	margin: 30px 0 50px 0;
	.col {
		box-sizing: border-box;
		padding: 10px;
		margin: 10px;
		background-color: $white;
		img {
			width: 100%;
		}
		a {
			color: $lGreen;
			&:hover {
				color: $dGreen;
				text-decoration: none;
			}
		}
	}
}

.projects {
	.col {
		min-width: 460px;
		border: 2px $dGreen solid;
	}
}

.team {
	.col {
		min-width: 250px;
		color: $dGreen;
		img {
			border-radius: 50%;
			max-width: 250px;
		}
		i {
			margin: 0 10px;
		}
	}
}

@media screen and (max-width: 440px) {
	.col {
		min-width: 200px !important;
	}
}
