$dGreen: #558C89;
$lGreen: #74AFAD;
$lOrange: #D98538;
$dOrange: #D67A29;
$white: #F6F6F6;

@import "navbar";
@import "footer";

@import "newsAndSlider";
@import "projectsAndTeam";

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	background-color: $white !important;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: $lOrange;
	color: $white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	transition: 0.5s;
	&:hover {
		background-color: $dOrange;
	}
}

.container {
	text-align: center;
	color: $lOrange;
}
